<div class="drawer js-drawer st-closed">
  <header class="drawer__header grid grid--center">
    <h1 class="drawer__title">MENU</h1>
    <button class="button button--drawer-toggle js-drawer-toggle st-open"><span class="icon icon-menu-toggle"></span></button>
  </header>
    <nav class="menu--vertical">
    <div class="icon-text--horizontal js-reading-stage">
      <span class="icon icon-reading"></span>
      <span class="icon-text__title">Reading Stage</span>
    </div>
    <div class="icon-text--horizontal js-assessments">
      <span class="icon icon-assessments"></span>
      <span class="icon-text__title">Assessments</span>
    </div>
    <div class="icon-text--horizontal js-assignments">
      <span class="icon icon-assignments"></span>
      <span class="icon-text__title">Assignments</span>
    </div>
    <div class="icon-text--horizontal js-whiteboard">
      <span class="icon icon-whiteboard"></span>
      <span class="icon-text__title">Whiteboard</span>
    </div>
    <div class="icon-text--horizontal js-leveled-stories">
      <span class="icon icon-stories"></span>
      <span class="icon-text__title">Leveled Stories</span>
    </div>
  </nav>
</div>

