<button class="icon-text--vertical button--timer {{selectedClass}}">
  <svg class="icon-timer"><use xlink:href="#icon-timer"></use></svg>
  <svg class="icon-timer-filled st-hidden"><use xlink:href="#icon-timer-filled"></use></svg>
  <span class="icon-text__title">timer</span>
</button>
