<button class="icon-text--vertical button--whiteboard {{selectedClass}}">
  <svg class="icon-whiteboard"><use xlink:href="#icon-whiteboard"></use></svg>
  <span class="icon-text__title">Whiteboard</span>
</button>
