<button class="icon-text--vertical {{selectedClass}} button--phrases">
  <svg class="icon-phrases"><use xlink:href="#icon-phrases"></use></svg>
  <svg class="icon-phrases-filled st-hidden"><use xlink:href="#icon-phrases-filled"></use></svg>
  <span class="icon-text__title">Phrases</span>
</button>
