<button class="icon-text--vertical">
  <!-- <span class="icon icon-clear icon-circle {{ selectedClass }}"></span> -->
  <svg class="icon-clear"><use xlink:href="#icon-clear"></use></svg>
  <span class="icon-text__title">clear</span>
</button>
