<button class="icon-text--vertical button--tiles {{selectedClass}}">
  <svg class="icon-tiles"><use xlink:href="#icon-tiles"></use></svg>
  <svg class="icon-tiles-filled st-hidden"><use xlink:href="#icon-tiles-filled"></use></svg>
  <span class="icon-text__title">Tiles</span>
</button>
