<button class="icon-text--vertical button--manage {{selectedClass}}">

  <svg class="icon-manage"><use xlink:href="#icon-manage"></use></svg>
  <svg class="icon-manage-filled st-hidden"><use xlink:href="#icon-manage-filled"></use></svg>
  <span class="icon-text__title">End Session</span>
</button>

