<tr class="student-row--group">
  <td class="js-studentGroup"><svg class="icon-student-group"><use xlink:href="#icon-student-group"></use></svg></td>
  <td class="session-cell--name">long e group</td>
  <td>n/a</td>
  <td>n/a</td>
  <td>n/a</td>
  <td width="10" class="session-cell--spacer"></td>
  <td>3</td>
  <td>n/a</td>
  <td>4</td>
  <td class="session-cell--desired">5</td>
  <td class="session-cell--data">see student data</td>
  <td class="session-cell--start">start session</td>
</tr>
