<div class="container--overlay">
  <div class="container--management container">
    <table class="management__table js-management-table" cellspacing="0">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
      {{!--   <col class="table-column"> --}}
        <col class="table-column table-column-4">
      </colspan>

      <thead>
        <td colspan="2" class="session-cell--name">sessions</td>
        <td >reading stage</td>
        <td>growth</td>
        <td>practice station score</td>
        <td width="10" class="session-cell--spacer"></td>
        <td>days on current reading stage</td>
        <td>days since last session</td>
        <td>days since last fluency assignment</td>
        <td>desired sessions per week</td>
        <td class="js-manageButton" colspan="2"></td>
      </thead>

      <tbody>

      </tbody>
    </table>
  </div>
</div>

