<div class="container container--overlay animated slideInUp">
  <button class="button button--close button--close--edit-student js-closeOverlayButton">
    <svg class="icon-close--overlay icon-close"><use xlink:href="#icon-close"></use></svg>
    <svg class="icon-close--overlay icon-close-filled st-hidden"><use xlink:href="#icon-close-filled"></use></svg>
 </button>
  <div class="overlay__menu">
    <a href="#" class="menu--tab menu--tab--edit-student js-cancelAddStudent" style="left: {{ math 170.5 "*" tab_position}}px">
      <span class="menu--number"></span>
      <span class="menu--title">cancel</span>
      <span class="menu__icon icon icon-close"></span>
    </a>
  </div>
  <div class="container--management container">
    <table class="management__table" cellspacing="0">
      <colspan>
       <col class="table-column table-column-1">
       <col class="table-column table-column-4">
       <col class="table-column">
       <col class="table-column">
       <col class="table-column">
       <col width="10">
       <col class="table-column">
       <col class="table-column">
       <col class="table-column">
       <col class="table-column">
       <col class="table-column table-column-4">
      </colspan>

      <thead>
       <th colspan="2" class="session-cell--name">students</th>
       <th >reading stage</th>
       <th>growth</th>
       <th>practice station score</th>
       <th width="10" class="session-cell--spacer"></th>
       <th>days on current reading stage</th>
       <th>days since last session</th>
       <th>days since last fluency assignment</th>
       <th>desired sessions per week</th>
       <th colspan="2"></th>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
