<div class="container--overlay">
  <div class="container--management container">
    <table class="management__table js-management-table" cellspacing="0">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
      </colspan>

      <thead>
        <tr>
          <th colspan="2" class="session-cell--name">sessions</th>
          <th >reading stage</th>
          <th>growth</th>
          <th>practice station score</th>
          <th width="10" class="session-cell--spacer"></th>
          <th>days on current reading stage</th>
          <th>days since last session</th>
          <th>days since last fluency assignment</th>
          <th>desired sessions per week</th>
          <th colspan="2">manage</th>
        </tr>
        
      </thead>

      <tbody>

      </tbody>
    </table>
  </div>
</div>

