  <td class="js-studentGroup"><svg class="icon-student-group"><use xlink:href="#icon-student-group"></use></svg></td>
  <td class="session-cell--name">{{ name }}</td>
  <td>n/a</td>
  <td>n/a</td>
  <td>n/a</td>
  <td width="10" class="session-cell--spacer"></td>
  <td>n/a</td>
  <td>{{ daysSinceLastSession }}</td>
  <td>n/a</td>
  <td class="session-cell--desired">{{ number_per_week }}</td>
  <td class="session-cell--data">see student data</td>
  <td class="session-cell--start js-startSession">start session</td>

