  <div class="container device-select">
    <div class="stage stage--device-select">
      <h1 class="device-select__title">Log this device in as:</h1>
      <div class="stage__content grid grid--center">
        <button class="icon-text--vertical device-select__option js-teacherDevice" >
          <img class="select--teacher" src="/img/login-teacher.svg" alt="">
          <span class="icon-text__title">teacher</span>
        </button>
        <button class="icon-text--vertical device-select__option js-studentDevice">
          <img class="select--student" src="/img/login-student.svg" alt="">
          <span class="icon-text__title">student</span>
        </button>
      </div>
      <footer class="footer--login">
      </footer>
    </div>
  </div>