<div class="edit-student container container--overlay">
  <button class="button button--story-close js-editStudentButtonClose">
    <svg class="icon-close"><use xlink:href="#icon-close"></use></svg>
    <svg class="icon-close-filled st-hidden"><use xlink:href="#icon-close-filled"></use></svg>
  </button>



  <a href="#" class="menu--tab menu--tab--edit-student">
    <span class="menu--number">{{ reading_stage }}</span>
    <span class="menu--title">{{ student_shortname }}</span>
    <span class="menu__icon icon icon-edit"></span>
    
  </a>
  <div class="stage stage--edit">
    <menu class="stage--edit__menu">
      <div class="menu--tabs menu--tabs--edit u-text-center grid u-text-center">
        <a href="#" class="menu--tab grid-cell" id="js-editReadingStage">Reading Stage</a>
        <a href="#" class="menu--tab grid-cell" id="js-editAssignments">Assignments</a>
        <a href="#" class="menu--tab grid-cell" id="js-editNotes">Notes</a>
      </div>
{{!--       
      <h2 class="stage--edit__title grid-cell">notes</h2>
      <div class="reading-stage-chooser grid-cell">
        <div class="grid grid--center">
          <h3 class="reading-stage__title grid-cell">reading stage</h3>
          <a href="#" class="reading-stage__choice grid-cell">1</a>
          <a href="#" class="reading-stage__choice grid-cell">2</a>
          <a href="#" class="reading-stage__choice grid-cell">3</a>
          <a href="#" class="reading-stage__choice grid-cell">4</a>
          <a href="#" class="reading-stage__choice grid-cell">5</a>
          <a href="#" class="reading-stage__choice grid-cell">6</a>
          <a href="#" class="reading-stage__choice grid-cell">7</a>
          <a href="#" class="reading-stage__choice grid-cell">8</a>
          <a href="#" class="reading-stage__choice grid-cell">9</a>
          <a href="#" class="reading-stage-chooser__button button button--primary grid-cell">save</a>
        </div> --}}
    </menu>
    <div class="js-editContainer"></div>
    {{!-- // NOTES SECTION ---------------------------------------------------->  --}}

    {{!-- READING STAGE SECTION ------------------------------------------------------> --}}
{{!--     
 --}} 
  </div>
</div>