<div class="edit-student container container--overlay">


      <button class="button button--story-close js-storyButtonCloseStory">
        <svg class="icon-close"><use xlink:href="#icon-close"></use></svg>
        <svg class="icon-close-filled st-hidden"><use xlink:href="#icon-close-filled"></use></svg>


      </button>      

  <a href="#" class="menu--tab menu--tab--edit-student">
    <span class="menu--number">3</span>
    <span class="menu--title">Bobby B.</span>
    <span class="menu__icon icon icon-edit"></span>
    
  </a>
  <div class="stage stage--edit">
    <menu class="stage--edit__menu">
      <div class="menu--tabs menu--tabs--edit u-text-center grid u-text-center">
        <a href="#" class="menu--tab grid-cell st-selected">Reading Stage</a>
        <a href="#" class="menu--tab grid-cell">Assignments</a>
        <a href="#" class="menu--tab grid-cell">Notes</a>
      </div>
{{!--       <h2 class="stage--edit__title grid-cell">notes</h2>
      <div class="reading-stage-chooser grid-cell">
        <div class="grid grid--center">
          <h3 class="reading-stage__title grid-cell">reading stage</h3>
          <a href="#" class="reading-stage__choice grid-cell">1</a>
          <a href="#" class="reading-stage__choice grid-cell">2</a>
          <a href="#" class="reading-stage__choice grid-cell">3</a>
          <a href="#" class="reading-stage__choice grid-cell">4</a>
          <a href="#" class="reading-stage__choice grid-cell">5</a>
          <a href="#" class="reading-stage__choice grid-cell">6</a>
          <a href="#" class="reading-stage__choice grid-cell">7</a>
          <a href="#" class="reading-stage__choice grid-cell">8</a>
          <a href="#" class="reading-stage__choice grid-cell">9</a>
          <a href="#" class="reading-stage-chooser__button button button--primary grid-cell">save</a>
        </div> --}}
    </menu>
    {{!-- // NOTES SECTION ---------------------------------------------------->  --}}
{{!--     <div class="stage--edit__content grid">
      <article class="stage--edit__notes grid-cell u-3of4">
        <header class="edit-notes__header">
          <span class="edit-notes__time">march 12, 2015:</span>
          <span class="edit-notes__stimuli">B |</span>
          <span class="edit-notes__activity">Onsets & Rimes</span>
        </header>
        <section class="edit-notes__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
      </article>
      <aside class="stage--edit__archive grid-cell u-1of4">
        <div class="edit-archive__list">
          <ul>
            <li>
              <h4>
                <span class="edit-notes__time">march 1, 2015</span>
                <span class="edit-notes__stimuli">B</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">march 22, 2015</span>
                <span class="edit-notes__stimuli">ball</span>
                <span>|</span>
                <span class="edit-notes__activity">sight words</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">march 31, 2015</span>
                <span class="edit-notes__stimuli">why</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">april 1, 2015</span>
                <span class="edit-notes__stimuli">cor</span>
                <span>|</span>
                <span class="edit-notes__activity">letters</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">april 15, 2015</span>
                <span class="edit-notes__stimuli">bo</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">april 31, 2015</span>
                <span class="edit-notes__stimuli">dentist</span>
                <span>|</span>
                <span class="edit-notes__activity">stories</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">may 1, 2015</span>
                <span class="edit-notes__stimuli">a</span>
                <span>|</span>
                <span class="edit-notes__activity">letters</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">may 12, 2015</span>
                <span class="edit-notes__stimuli">bones</span>
                <span>|</span>
                <span class="edit-notes__activity">stories</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">may 22, 2015</span>
                <span class="edit-notes__stimuli">gut</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets and rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">june 2, 2015</span>
                <span class="edit-notes__stimuli">c</span>
                <span>|</span>
                <span class="edit-notes__activity">letters</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">june 12, 2015</span>
                <span class="edit-notes__stimuli">whack</span>
                <span>|</span>
                <span class="edit-notes__activity">sight words</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">june 22, 2015</span>
                <span class="edit-notes__stimuli">h</span>
                <span>|</span>
                <span class="edit-notes__activity">letters</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">june 30, 2015</span>
                <span class="edit-notes__stimuli">e</span>
                <span>|</span>
                <span class="edit-notes__activity">letters</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">july 3, 2015</span>
                <span class="edit-notes__stimuli">bet</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">july 3, 2015</span>
                <span class="edit-notes__stimuli">bet</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">july 3, 2015</span>
                <span class="edit-notes__stimuli">bet</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">july 3, 2015</span>
                <span class="edit-notes__stimuli">bet</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
            <li>
              <h4>
                <span class="edit-notes__time">july 3, 2015</span>
                <span class="edit-notes__stimuli">bet</span>
                <span>|</span>
                <span class="edit-notes__activity">onsets & rimes</span>
              </h4>
              <p>lorem ipsum builds a car and he...</p>
            </li>
          </ul>
        </div>
      </aside>
    </div> --}}

    {{!-- READING STAGE SECTION ------------------------------------------------------> --}}
    <div class="stage--edit__content grid">
      <div class="reading-stage-chooser grid grid--wrap grid--center">
        <a href="#" class="reading-stage__choice grid-cell">1</a>
          <a href="#" class="reading-stage__choice grid-cell">2</a>
          <a href="#" class="reading-stage__choice grid-cell">3</a>
          <a href="#" class="reading-stage__choice grid-cell">4</a>
          <a href="#" class="reading-stage__choice grid-cell">5</a>
          <a href="#" class="reading-stage__choice grid-cell">6</a>
          <a href="#" class="reading-stage__choice grid-cell">7</a>
          <a href="#" class="reading-stage__choice grid-cell">8</a>
          <a href="#" class="reading-stage__choice grid-cell">9</a>
      </div>
    </div>
  </div>
</div>