<div class="edit-student container container--overlay">
  <button class="button button--story-close js-editStudentButtonClose">
    <svg class="icon-close"><use xlink:href="#icon-close"></use></svg>
    <svg class="icon-close-filled st-hidden"><use xlink:href="#icon-close-filled"></use></svg>
  </button>

  <a href="#" class="menu--tab menu--tab--edit-student">
    <span class="menu--number">{{ reading_stage }}</span>
    <span class="menu--title">{{ student_shortname }}</span>
    <span class="menu__icon icon icon-edit"></span>
  </a>

  <div class="stage stage--edit">
    <menu class="stage--edit__menu">
      <div class="menu--tabs menu--tabs--edit u-text-center grid u-text-center">
        <a href="#" class="menu--tab grid-cell" id="js-editReadingStage">Reading Stage</a>
        <a href="#" class="menu--tab grid-cell" id="js-editNotes">Notes</a>
      </div>
    </menu>
    <div class="js-editContainer"></div>
  </div>
</div>
