<div class="stage--edit__content grid js-editStudentNotes">
  <article class="stage--edit__notes grid-cell u-3of4 js-editStudentNotesArticle">
  </article>
  <aside class="stage--edit__archive grid-cell u-1of4 js-editStudentNotesList">
  </aside>
 </div>
