<article class="stage--edit__notes grid-cell u-3of4">
  <header class="edit-notes__header">
    <span class="edit-notes__time">{{ date }}</span>
  </header>
  <section class="edit-notes__body">
   <textarea>{{ content }}</textarea>
  </section>
</article>

