<div class="container--overlay">
  <div class="container--management container">
    <table class="management__table" cellspacing="0">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
      </colspan>

      <thead>
        <td colspan="2" class="session-cell--name">sessions</td>
        <td >reading stage</td>
        <td>growth</td>
        <td>practice station score</td>
        <td width="10" class="session-cell--spacer"></td>
        <td>days on current reading stage</td>
        <td>days since last session</td>
        <td>days since last fluency assignment</td>
        <td>desired sessions per week</td>
        <td colspan="2">manage</td>
      </thead>

      <tbody>
        <tr class="student-row--group">
          <td><svg class="icon-student-group"><use xlink:href="#icon-student-group"></use></svg></td>
          <td class="session-cell--name">long e group</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td width="10" class="session-cell--spacer"></td>
          <td>3</td>
          <td>n/a</td>
          <td>4</td>
          <td class="session-cell--desired">5</td>
          <td class="session-cell--data">see student data</td>
          <td class="session-cell--start">start session</td>
        </tr>

        <tr class="session-row--dropdown">
          <td colspan="12">
            <table class="student-choice" cellspacing="0">
            <tr>
              <td colspan="4">Bruce B. • RS1</td>
              <td colspan="4">Pietro M. • RS1</td>
              <td colspan="4">Wanda M. • RS1</td>
              <td colspan="4">Wendy P. • RS1</td>
              <td colspan="4">Sandra S. • RS2</td>
              <td colspan="4">Empty</td>
            </tr>
          </table>
          </td>

        </tr>

        <tr class="student-row--group">
          <td><svg class="icon-student"><use xlink:href="#icon-student"></use></svg></td>
          <td class="session-cell--name">Tony S.</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td class="session-cell--spacer"></td>
          <td>3</td>
          <td>n/a</td>
          <td>4</td>
          <td class="session-cell--desired">5</td>
          <td class="session-cell--data">see student data</td>
          <td class="session-cell--start">start session</td>
        </tr>

        <tr class="student-row--group">
          <td><svg class="icon-student"><use xlink:href="#icon-student"></use></svg></td>
          <td class="session-cell--name">Steve R.</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td width="10" class="session-cell--spacer"></td>
          <td>3</td>
          <td>n/a</td>
          <td>4</td>
          <td class="session-cell--desired">5</td>
          <td class="session-cell--data">see student data</td>
          <td class="session-cell--start">start session</td>
        </tr>

        <tr class="student-row--group">
          <td><svg class="icon-student"><use xlink:href="#icon-student"></use></svg></td>
          <td class="session-cell--name">Natasha R.</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td width="10" class="session-cell--spacer"></td>
          <td>3</td>
          <td>n/a</td>
          <td>4</td>
          <td class="session-cell--desired">5</td>
          <td class="session-cell--data">see student data</td>
          <td class="session-cell--start">start session</td>
        </tr>

        <tr class="student-row--group">
          <td><svg class="icon-student"><use xlink:href="#icon-student"></use></svg></td>
          <td class="session-cell--name">Clint B.</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td width="10" class="session-cell--spacer"></td>
          <td>3</td>
          <td>n/a</td>
          <td>4</td>
          <td class="session-cell--desired">5</td>
          <td class="session-cell--data">see student data</td>
          <td class="session-cell--start">start session</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

