<div id="loginContainer">
  <p>email</p>
  <input type="text" name="email" id="email-field">
  <p>password:</p>
  <input type="password" name="password" id="password-field">
  <br />
  <input type="button" value="Submit" id="submit">
</div>
