<div class="matrix">
  <nav class="matrix__menu">
    <div class="js-matrixMenu"></div>
  </nav>
  <section class="matrix__stimuli">
    <div class="js-stimuliTiles"></div>
  </section>
  <nav class="matrix__student-selector">
    <div class="js-matrixStudentSelector"></div>
  </nav>
</div>



<!-- <div class="matrix">
  <nav class="matrix--menu js-matrix-menu">
    <div class="menu--tabs grid u-text-center">
      <a href="#" class="menu--tab grid-cell js-letter-tab st-active">
        <span>letter names & sounds</span>
      </a>
      <a href="#" class="menu--tab grid-cell js-words-tab">
        <span>sight words</span>
      </a>
      <a href="#" class="menu--tab grid-cell js-onset-rimes-tab">
        <span>onsets & rimes</span>
      </a>
      <a href="#" class="menu--tab grid-cell js-affixes-tab">
        <span>affixes</span>
      </a>
      <a href="#" class="menu--tab grid-cell js-stories-tab">
        <span>stories</span>
      </a>
      <a href="#" class="button button--matrix-toggle grid-cell js-matrix-toggle">
        <span class="icon icon-triangle-down"></span>
      </a>
    </div>
  </nav>
    {{> stimuliTilesLetters}}
    {{> stimuliTilesWords}}
    {{> stimuliTilesOnsetRimes}}
    {{> stimuliTilesStories}}
  <nav class="matrix__student-selector">
    {{> studentSelector}}
  </nav>
</div>
 -->
