<div class="menu--tabs grid u-text-center"> 
  <div class='js-lettersTab'></div>
  <div class='js-sightWordsTab'></div>
  <div class='js-onsetRimesTab'></div>
  <div class='js-affixesTab'></div>
  <div class='js-storiesTab'></div>
  <div class='js-buttonMatrixToggle'></div>
</div> 