<nav class="matrix__menu">
  {{> menuTabs}}
  <!-- <button class="button button-primary">arrow</button> -->
</nav>
<section class="matrix__stimuli">
  {{> stimuliTiles}}
</section>
<nav class="matrix__student-selector">
  {{> menuTabs}}
</nav>
