<div class="matrix">
  <nav class="matrix__menu">
    <div class="js-matrixMenu"></div>
  </nav>
  <section class="matrix__stimuli">
    <div class="js-stimuliTiles"></div>
  </section>
  <nav class="matrix__student-selector">
    <div class="js-matrixStudentSelector"></div>
  </nav>
</div>


