<nav class="stage__menu--assessment grid grid--bottom">
  <div class="js-buttonMastered"></div>
  <div class="js-buttonLearning"></div>
  <div class="js-buttonNeedsWork"></div>
  <div class="js-buttonClear"></div>
</nav>
