
<div class="stage__menu stage__menu--right grid">
  <div class="js-buttonPhrases"></div>
  <div class="js-buttonTiles"></div>
</div>

<!-- <div class="stage__menu stage__menu--right grid">
  {{> buttonPhrases}}
  {{> buttonTiles}}
</div>
 -->
