<nav class="menu--assessment menu--assessment--stage grid grid--bottom u-text-center">
  <div class="js-buttonMastered grid-cell"></div>
  <div class="js-buttonLearning grid-cell"></div>
  <div class="js-buttonNeedsWork grid-cell"></div>
  <div class="js-buttonClear grid-cell"></div>
</nav>
