<nav class="menu--assessment menu--assessment--stage grid grid--bottom">
  <div class="js-buttonMastered"></div>
  <div class="js-buttonLearning"></div>
  <div class="js-buttonNeedsWork"></div>
  <div class="js-buttonClear"></div>
</nav>
