<div class="stage">
  <div class="js-buttonDrawerToggle"></div>
  <div class="js-stageDrawer"></div>
  <div class="js-stageStimulus"></div>
  <div class="stage__menu stage__menu--left grid">
    <div class="js-stageButtonFlip"></div>
    <div class="js-stageButtonTimer"></div>
  </div>
  <div class="js-menuAssessment"></div>
  <div class="js-menuActivity"></div>
</div>
