<div class="js-buttonDrawerToggle"></div>
<div class="js-stageDrawer"></div>
<div class="stage__stimulus">
  <span>a</span>
</div>
<div class="stage__menu stage__menu--left grid">
  {{> buttonFlip}}
  {{> buttonTimer}}
</div>
<div class="js-menuActivity"></div>
<div class="js-menuAssessment"></div>
