  <div class="js-buttonDrawerToggle"></div>
  <div class="js-stageDrawer"></div>
  <div class="stage__stimulus js-stageStimulus"></div>
  <div class="stage__menu stage__menu--left grid">
    <div class="js-stageButtonFlip"></div>
    <div class="js-stageButtonTimer"></div>
    <div class="js-stageButtonManage"></div>
  </div>
  <div class="js-menuAssessment"></div>
  <div class="stage__menu stage__menu--right grid js-menuActivity"></div>
  <div class="button--matrix-toggle button--matrix-toggle--open js-buttonMatrixOpen"></div> 
