<div class="stage__stimulus--letters stage__stimulus__gallery animated slideInRight">
  <div class="stimulus-cell">
    <span>a</span>
    <img src="img/apple.svg" alt="apple">
  </div>
  <div class="stimulus-cell">
    <span>b</span>
    <img src="img/apple.svg" alt="apple">
  </div>
  <div class="stimulus-cell">
    <span>c</span>
    <img src="img/apple.svg" alt="apple">
  </div>
  <div class="stimulus-cell">
    <span>d</span>
    <img src="img/apple.svg" alt="apple">
  </div>
  <div class="stimulus-cell">
    <span>e</span>
    <img src="img/apple.svg" alt="apple">
  </div>
</div>