
    {{> buttonDrawerToggle}}
    {{> drawer }}
    <div class="stage__stimulus">
      <span>a</span>
    </div>
    <div class="stage__menu stage__menu--left grid">
      {{> buttonFlip}}
      {{> buttonTimer}}
    </div>
    <div class="stage__menu stage__menu--right grid">
      {{> buttonPhrases}}
      {{> buttonTiles}}
    </div>
    {{> menuAssessment}}
