<div class="stage__stimulus stage__stimulus--tiles stage__stimulus--tiles--reverse grid">
  <div class="stage__stimulus--onsets-rimes grid-cell grid grid--space-between grid--center">
    <div class="stimulus__tile-column stimulus__tile-column--onset grid-cell animated slideInLeft u-no-scrollbar">
      <ul class="grid grid--column">
        <li class="grid-cell">b</li>
      </ul>
    </div>
    <div class="stimulus__tile-column stimulus__tile-column--rime grid-cell animated slideInDown u-no-scrollbar">
      <ul class="grid grid--column">
        <li class="grid-cell">ad</li>
      </ul>
    </div>
  </div>
  <div class="stage__stimulus--tile-choices grid-cell grid grid--column grid--center">
    <ul class="stage__stimulus--tile-choices__wrapper stage__stimulus--tile-choices__wrapper">
      <li class="tile-choice">an</li>
      <li class="tile-choice">at</li>
      <li class="tile-choice">ar</li>
      <li class="tile-choice">ag</li>
      <li class="tile-choice">it</li>
      <li class="tile-choice">ap</li>
      <li class="tile-choice">af</li>
      <li class="tile-choice">ah</li>
      <li class="tile-choice">am</li>
      <li class="tile-choice">and</li>
      <li class="tile-choice">anf</li>
      <li class="tile-choice">amf</li>
      <li class="tile-choice">all</li>
      <li class="tile-choice">alt</li>
    </ul>
  </div>
</div>
