<section class="matrix__stimuli matrix__stimuli--stories grid">
  <div class="grid-cell stimuli-tiles stimuli-tiles stimuli-tiles--onsets u-1of3">
    <div class="grid grid--wrap u-text-center js-stimuliTileOnset">
    </div>
  </div>
  <div class="stimuli-tiles stimuli-tiles--rimes grid-cell u-2of3">
    <div class="grid grid--wrap u-text-center js-stimuliTileRime">
    </div>
  </div>
</section>