<section class="matrix__stimuli matrix__stimuli--stories grid js-stimuli js-stimuli-onsets-rimes st-inactive">
  <div class="grid-cell stimuli-tiles stimuli-tiles stimuli-tiles--onsets u-1of3">
    <div class="grid grid--wrap u-text-center">
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">a</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">b</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">c</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">d</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">e</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">f</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">g</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">h</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">i</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">j</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">k</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">l</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">w</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">e</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">t</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">b</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">n</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">m</a></div>
    </div>
  </div>
  <div class="stimuli-tiles stimuli-tiles--rimes grid-cell u-2of3">
    <div class="grid grid--wrap u-text-center">
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
      {{> tile}}
    </div>
  </div>
</section>