<section class="matrix__stimuli matrix__stimuli--stories grid js-stimuli-stories js-stimuli st-inactive">
  <div class="grid-cell grid-cell--center stimuli-tiles--stories__title u-1of3">
    <div class="grid u-text-center">
      <p class="grid-cell">Words I Know Stories</p>
    </div>
  </div>
  <div class="stimuli-tiles stimuli-tiles--stories__tiles grid-cell u-2of3">
    <div class="grid grid--wrap u-text-center">
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">1.Dentist</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">2.Chores</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">3.Digging</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">4.Getting Dressed</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">5.I Don't Like It</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">6.In Our House</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">7.Lost Keys</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">8.My Baby Chick</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">9.No More Training Wheels</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">10.Picture Album</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">11.Rex</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">12.Sick</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">13.Mr. and Mrs. Orange</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">14.Dancing Like a Monkey</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">15.The Last Hurrah</a></div>
      <div class="tile grid-cell u-text-center"><a href="#" class="tile__title">16.My Forgone Solution</a></div>
.
    </div>
  </div>
</section>