<section class="matrix__stimuli matrix__stimuli--stories grid">
  <div class="grid-cell grid-cell--center stimuli-tiles--stories__title u-1of3">
    <div class="grid u-text-center">
      <p class="grid-cell">Words I Know Stories</p>
    </div>
  </div>
  <div class="stimuli-tiles stimuli-tiles--stories__tiles grid-cell u-2of3">
    <div class="grid grid--wrap u-text-center {{jsClass}}">
    </div>
  </div>
</section>