<section class="matrix__stimuli matrix__stimuli--words grid st-active">
  <div class="stimuli-tiles stimuli-tiles--words">
    <div class="grid grid--wrap u-text-center js-stimuliTile">
    </div>
  </div>
</section>