<!--  style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100;background-color: white">
 -->
 <div class="story">
  <div class="js-storyImage"></div>
  <footer class="story__footer">
    <div class="story__text story__text--footer js-storyTextFooter">
      Here is a bunch of text for the story.
    </div>
    <nav class="menu--assessment menu--assessment--story grid">
    <div class="js-storyMenuAssessment">
    </nav>
    <div class="js-storyButtonFlip"></div>
  </footer>
</div>