.timer {
  display: none;
  transition: opacity .55s ease-in-out;
  position: relative;
}
.timer__controls {
  bottom: 7px;
  left: 80px;
  position: absolute;
  width: 140px;
  padding: 0;

  .button--warning {
    height: 40px;
  }

  .timer__progress {
    color: $warning;
    font-size: 0;

    .timer__time {
      -webkit-appearance: none;
      background: none;
      border: none;
      color: $warning;
      display: inline-block;
      font-family: $font-condensed;
      font-size: 28px;
      padding: 0;
    }

    .timer__colon {
      font-family: $font-condensed;
      font-size: 28px;
      text-align: center;
    }
  }

  .icon-minus,
  .icon-plus {
    font-size: 22px;
    text-align: center;
  }
  .icon-timer-filled {
    color: $red;
  }
}