// RULE: Only @extend a class (or placeholder) in the same stylesheet (NOT ACROSS STYLES)
button,
.button,
%button {
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  font-family: $font-primary;
}

.button--primary {
  @extend %button;
  background: $primary;
  color: $button-text-light;
  font-size: 16px; // make this a mixin?
  padding: 1% 2%;
  text-transform: uppercase;
}

.button--warning {
  @extend %button;
  background: $warning;
  color: $button-text-light;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  padding: 1% 2%;
  border-radius: 8px;
  margin-bottom: 4px; // magic number

  &.button--warning--inverse {
    background: $white;
    border: 1px solid $warning;
    color: $warning;
  }
}

.button--drawer-toggle {
  @extend %button;
  font-size: 26px;
  text-align: right;
  display: inline-block;
  position: absolute;
  z-index: 100;
  color: $menu-button;
  text-align: right;

  &.st-closed {
      color: lighten(#000, 50%);
  }
  &.st-open {
      color: #fff;
  }
}

.button--matrix-toggle {
  width: 75px;
  flex: none;
  color: $button-text-dark;

  &:hover {
    color: $button-text-light;
  }

  .icon {
    font-size: 32px;
    display: block;
    height: 32px;
    margin-top: 5px;
  }

  &.button--matrix-toggle--open {
   bottom: 10px;
   right: 0px;
   position: absolute;
   text-align: center;
   width: 75px;


   &:hover {
     color: $orange;
   }
 }
}

.button--timer {
  @extend %button;

  .icon.is-set {
    color: $warning;
  }
}

.button--letters {
  @include icon-hover(letters, 32px, $gray-light, $green);
}

.button--words {
  @include icon-hover(words, 32px, $gray-light, $orange);
}

.button--tiles {
  @include icon-hover(tiles, 32px, $gray-light, $blue-light);
}

.button--phrases {
  @include icon-hover(phrases, 32px, $gray-light, $purple);
}

.button--timer {
  @include icon-hover(timer, 32px, $gray-light, $red);
}

.button--manage {
  @include icon-hover(manage, 32px, $gray-light, $turquoise);
}

.button--flip {
  fill: $gray-light;
  [class*='icon-flip'] {
    width: 32px; 
  }
  &:hover,
  &.st-active {
    fill: $black;
  }
}

// iflTODO: find a way to get this one using the mixin?
.button--whiteboard {
  fill: $gray-light;
  [class*='icon-whiteboard'] {
    width: 32px; 
  }
  &:hover,
  &.st-active {
    fill: $yellow;
  }
}

.button--reading-strategies-toggle {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: $bg-drawer;
  color: $white;
}

.button--story-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 200;
  fill: $gray-dark;

  &:hover {
    .icon-close {
      display: none;
    }
    .icon-close-filled {
      display: inline-block;
    }
  }
}
