.matrix {
  background: $bg-drawer;
  min-height: 340px;
  height: 40%;
  position: relative;
}

.matrix__menu,
.matrix__student-selector {
  max-height: 40px;
  width: 100%;
}

.matrix__menu {
  position: absolute;
  top: 0;
  left: 0;
}

.matrix__stimuli {
  height: 260px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: $matrix-tile;
}

.matrix__student-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 40px;
  // student-tab todo
  // z-index: 2000;
}

.matrix--reading-strategies {
  background-color: $white;
  height: 310px;
  left: 0;
  bottom: -280px;
  min-height: 225px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in;

  &.st-active {
    bottom: 0;
  }

}