.stage__stimulus {
  &.st-flipped,
  &.st-unflipped {
    height: 100%;
  }

  &.st-flipped {
    .stimulus {
      bottom: 0;
      top: 75px;
    }
  }

  &.st-unflipped {
    .stimulus {
      bottom: 75px;
      top: 0;
    }
  }
}

.stimulus {
  font-family: $font-serif;
  position: absolute;
  top: 0;
  bottom: 75px;
  left: 0;
  right: 0;
  text-align: center;
  @extend .grid;
  @extend .grid--center;
  @extend .grid--flex-cells;


  .stimulus-cell {

    span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      width: auto;
      max-height: 250px;
      vertical-align: middle;
    }
  }

  &.stimulus__gallery {
      outline: 0;

      .stimulus-cell {
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      span {
        display: inline-block;

      }
    }

  &.stimulus--letters {
    font-size: 250px;
    font-weight: 700;

    .stimulus-cell span {
      margin-right: 50px;
    }

  }

  &.stimulus--words {
    color: $words-color;
    font-size: 250px;
    font-weight: 500;

  }

  &.stimulus--phrases {
    color: $phrases-color;
    font-size: 100px;
  }

  &.stimulus--tiles {
    max-width: 80%;
    height: 100%;
    bottom: 0;

    .stimulus__tile-column {
      max-width: 120px;
      overflow: auto;

      li {
        color: $text-light;
        background-color: $tiles-color;
        height: 50px;
        margin-bottom: 2px;
        font-size: 42px;
        font-weight: 500;
        padding-left: 3px;
        cursor: pointer;
      }
    }

    .stimulus__tile-column--onsets {
      text-align: right;
    }

    .stimulus__tile-column--rimes {
      text-align: left;
    }
  }
}