.management__table {
  background: $white;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-transform: uppercase;

  .table-column {
    text-align: center;
    width: 60px;

    &.table-column-1 {
      width: 50px;
    }

    &.table-column-4 {
      text-align: left;
      width: 420px;
    }


  }

  .session-cell--spacer {
    background: url(../img/spacer.png);
    width: 10px!important;
  }

  thead {
    background-color: $black;
    color: $text-medium;
    font-size: 8px;

    th {
      border-right: 1px solid $gray-dark;

      &:last-child {
        border-right: 0;
      }
    }

    .session-cell--name {
      font-size: 22px;
    }
  }

  tbody {
    font-size: 20px;
    font-weight: 600;
  }

  td,
  th {
    border: 1px solid $gray-light;
    height: 50px;
    text-align: center;

    .icon-student,
    .icon-student-group {
      display: block;
      fill: $orange;
      height: auto;
      margin: 0 auto;
      text-align: center;
    }

    .icon-student {
      width: 25px;
    }

    .icon-student-group {
      width: 40px;
    }

    &.session-cell--name {
      font-size: 14px;
      padding-left: 10px;
      text-align: left;
    }
  }

  .session-cell--desired,
  .session-cell--data {
    background-color: $gray-dark;
    color: $white;
  }

  .session-cell--data,
  .session-cell--start,
  th {
    font-size: 8px;
    font-weight: 300;
  }
  .session-cell--start {
    background: $orange;
    color: white;
    cursor: pointer;

    &.session-cell--start--student {
      font-size: 11px;
    }

    .icon-add {
      fill: white;
      margin-right: 3px;
      vertical-align: middle;
      width: 20px;
    }
  }
}

.session-row--dropdown {
  background-color: $black;
  height: 25px;
  position: relative;

  td {
    height: 25px;
  }
}

.student-choice {
  background: $black;
  cellspacing: 0;
  color: $white;
  width: 100%;

  tbody {
    font-size: 14px;
    font-weight: 300;
  }

  td {
    border-bottom: 0;
    border-left: 0;
    border-right: 1px solid $gray-dark;
    border-top: 0;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
    width: 16.66%;

    &:last-child {
      border-right: 0;
    }
  }
}

