.stage__stimulus {

  &.st-flipped {
    .stimulus {
      margin-top: 75px;
      margin-bottom: 0;
    }
  }

  &.st-unflipped {
    .stimulus {
      margin-bottom: 75px;
      margin-top: 0;
    }
  }
}

.stimulus {
  font-family: $font-serif;
  margin-bottom: 75px;
  text-align: center;

  .stimulus-cell {
    max-height: 300px;

    img {
      display: inline-block;
      max-height: 250px;
      vertical-align: middle;
      width: auto;
    }
  }

  &.stimulus__gallery {
      outline: 0;

      .stimulus-cell {
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      span {
        display: inline-block;
      }
    }

  &.stimulus--letters {
    font-size: 250px;
    font-weight: 700;

    .stimulus-cell span {
      margin-right: 50px;
    }
  }

  &.stimulus--words {
    color: $words-color;
    font-size: 250px;
    font-weight: 500;

  }

  &.stimulus--phrases {
    color: $phrases-color;
    font-size: 100px;

    .stimulus-cell {

      span {
        width: 100%;
        word-wrap: break-word;
      }
    }
  }

  &.stimulus--tiles {
    max-height: 340px;

    &.stimulus--tiles--reverse {
      flex-direction: row-reverse;

      .stimulus--tile-choices__wrapper {
        align-self: flex-start;
      }

      .stimulus__tile-column--onset li {
        background-color: darken($tiles-color, 20%);
      }

      .stimulus__tile-column--rime li {
        background-color: $tiles-color;
      }

      .stimulus--onsets-rimes {
        margin-right: 75px;
        margin-left: 0;
      }

      .stimulus--tile-choices {
        margin-left: 75px;
        margin-right: 0;
      }
    }
  }

  .stimulus--onsets-rimes {
    bottom: 0;
    height: 100%;
    margin-left: 75px;

    .stimulus__tile-column {
      overflow: auto;

      li {
        background-color: $tiles-color;
        color: $text-light;
        cursor: pointer;
        font-size: 100px;
        font-weight: 500;
        height: 120px;
        line-height: 100px;
        margin-bottom: 2px;
        padding-left: 3px;
      }
    }

    .stimulus__tile-column--onset {
      text-align: right;
      max-width: 165px;
    }

    .stimulus__tile-column--rime {
      text-align: left;

      li {
        background-color: darken($tiles-color, 20%);
      }
    }
  }

  .stimulus--tile-choices {
    color: $white;
    font-size: 32px;
    margin-right: 75px;
    max-height: 340px;
    overflow: auto;

    .stimulus--tile-choices__wrapper {
      align-self: flex-end;
      overflow: auto;
      width: 45%;
    }

    .tile-choice {
      background-color: darken($tiles-color, 20%);
      border-bottom: 1px solid lighten($tiles-color, 20%);
      height: 50px;
    }
  }
}

