.magnet {
  font-family: $font-secondary;
  color: white;
  line-height: 150px;
  font-size: 130px;
  font-weight: 500;
  height: 150px;
  position: relative;
  display: inline-block;
  min-width: 150px;

  &::before {
    content: "x";
    position: absolute;
    font-size: 16px;
    line-height: 26px;
    top: -5px;
    right: 3px;
    text-align: right;
    z-index: 100;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 26px 26px 0;
    border-color: transparent $black transparent transparent;
  }
}

.magnet--onset {
  background: $blue-light;
  text-align: right;
}

.magnet--rime {
  background: $yellow;
  text-align: left;
}