.table__wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  overflow: auto;
  height: 718px;

  &.table__wrapper--student {
    top: 110px;
    height: 708px;
  }
}

.table__wrapper__header {
  position: absolute;
  top: 0;
  left: 0;

  &.table__wrapper__header--student {
    top: 60px;
  }
}

.management__table {
  background: $white;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-transform: uppercase;
  position: relative;
  overflow: auto;

  .table-column {
    text-align: center;
    width: 60px;

    &.table-column-1 {
      width: 50px;
    }

    &.table-column-4 {
      text-align: left;
      width: 420px;
    }
  }

  .session-cell--group {
    cursor: pointer;
  }

  .session-cell--spacer {
    background-color: $gray-light;
    width: 10px!important;
    border-bottom: 1px solid transparent;
  }

  .session-cell--manage {
    font-size: 14px;
    cursor: pointer;
    color: $orange;
  }

  thead {
    background-color: $black;
    color: $text-medium;
    font-size: 8px;

    .session-cell--spacer {
      background-color: $black;
    }

    tr {
      border-bottom: 1px solid transparent;
    }

    th,
    td {
      border-right: 1px solid $gray-dark;

      &:last-child {
        border-right: 0;
      }
    }

    .session-cell--name {
      font-size: 22px;
      min-width: 470px;
    }
  }

  tbody {
    font-size: 20px;
    font-weight: 600;
    overflow: auto;

    tr {
      border-top: 1px solid lighten($gray-light, 20%);
      border-bottom: 1px solid lighten($gray-light, 20%);
    }
  }

  td,
  th {
    border-right: 1px solid lighten($gray-light, 20%);
    height: 50px;
    text-align: center;

    .icon-student,
    .icon-student-group {
      display: block;
      fill: $orange;
      height: auto;
      margin: 0 auto;
      text-align: center;
    }

    .icon-student {
      width: 25px;
    }

    .icon-student-group {
      width: 40px;
    }

    &.session-cell--name {
      font-size: 14px;
      padding-left: 10px;
      text-align: left;
    }
  }

  .session-cell--desired,
  .session-cell--data {
    background-color: $gray-dark;
    color: $white;
  }

  .session-cell--desired {
    border-bottom: 1px solid lighten($gray-dark, 10%);
    border-right: 1px solid lighten($gray-dark, 10%);

    select {
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      font-size: inherit;
      font-family: inherit;
      background-color: inherit;
      color: inherit;
      border: 0;
    }
  }

  .session-cell--data,
  .session-cell--start,
  th {
    font-size: 8px;
    font-weight: 300;
  }
  .session-cell--start {
    background: $orange;
    color: white;
    cursor: pointer;
    font-size: 12px;

    &.session-cell--start--student {
      font-size: 11px;
    }

    .icon-add {
      fill: white;
      margin-right: 3px;
      vertical-align: middle;
      width: 20px;
    }
  }
}

.session-row--dropdown {
  background-color: $black;
  height: 25px;
  position: relative;
  transition: all 2s ease;

  td {
    height: 25px;
  }
}

.student-choice {
  background: $black;
  cellspacing: 0;
  color: $white;
  width: 100%;

  tbody {
    font-size: 14px;
    font-weight: 300;
  }

  td {
    border-bottom: 0;
    border-left: 0;
    border-right: 1px solid $gray-dark;
    border-top: 0;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
    width: 16.66%;

    &:last-child {
      border-right: 0;
    }
  }
}

