.stage__stimulus {
  &.st-flipped,
  &.st-unflipped {
    height: 100%;
  }

  &.st-flipped {
    .stimulus {
      bottom: 0;
      top: 75px;
    }
  }

  &.st-unflipped {
    .stimulus {
      bottom: 75px;
      top: 0;
    }
  }
}

.stimulus {
  font-family: $font-serif;
  position: absolute;
  top: 0;
  bottom: 75px;
  left: 0;
  right: 0;
  text-align: center;
  @extend .grid;
  @extend .grid--center;
  @extend .grid--flex-cells;


  .stimulus-cell {

    span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      width: auto;
      max-height: 250px;
      vertical-align: middle;
    }
  }

  &.stimulus__gallery {
      outline: 0;

      .stimulus-cell {
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      span {
        display: inline-block;

      }
    }

  &.stimulus--letters {
    font-size: 250px;
    font-weight: 700;

    .stimulus-cell span {
      margin-right: 50px;
    }

  }

  &.stimulus--words {
    color: $words-color;
    font-size: 250px;
    font-weight: 500;

  }

  &.stimulus--phrases {
    color: $phrases-color;
    font-size: 100px;
  }

  &.stimulus--tiles {
    max-width: 850px;

    &.stimulus--tiles--reverse {
      flex-direction: row-reverse;

      .stimulus--tile-choices__wrapper {
        align-self: flex-start;
      }

      .stimulus__tile-column--onset li {
        background-color: darken($tiles-color, 20%);
      }

      .stimulus__tile-column--rime li {
        background-color: $tiles-color;
      }
    }
  }

  .stimulus--onsets-rimes {
    max-width: 46%;
    height: 100%;
    margin: 0 auto;
    bottom: 0;

    .stimulus__tile-column {
      max-width: 250px;
      overflow: auto;

      li {
        color: $text-light;
        background-color: $tiles-color;
        height: 100px;
        margin-bottom: 2px;
        font-size: 100px;
        font-weight: 500;
        padding-left: 3px;
        cursor: pointer;
        line-height: 100px;
      }
    }

    .stimulus__tile-column--onset {
      text-align: right;
    }

    .stimulus__tile-column--rime {
      text-align: left;

      li {
        background-color: darken($tiles-color, 20%);
      }
    }
  }

  .stage__stimulus--tile-choices {
    font-size: 32px;
    overflow: auto;
    color: $white;
    .stage__stimulus--tile-choices__wrapper {
      width: 40%;
      overflow: auto;
      align-self: flex-end;
    }
    .tile-choice {
      border-bottom: 1px solid lighten($tiles-color, 20%);
      height: 50px;
      background-color: darken($tiles-color, 20%);
    }
  }
}

