.tile {
  background: $matrix-tile;
  border-left: 1px solid lighten(#000, 20%);
  border-bottom: 1px solid lighten(#000, 20%);
  width: auto;
  height: 65px;
  line-height: 65px;
  flex: 0 auto;

  &:last-child {
    border-right: 1px solid lighten(#000, 20%);
  }

  .stimuli-tiles--stories__tiles & {
    width: 33.3333%;
  }

  .stimuli-tiles--letters & {
    width: 7.6923%;
  }

  .stimuli-tiles--onsets & {
    width: 25%;
  }

  .stimuli-tiles--rimes & {
    width: 14.2857%;
  }

  .stimuli-tiles--words & {
    width: 11.1111%;
  }

  .stimuli-tiles--reading-strategies & {
    width: 20%;
    line-height: 1;
    min-height: 100px;
  }
}

.stimuli-tiles--reading-strategies {
  background: $matrix-tile;
}

.tile__title {
  font-size: 26px;
  display: block;
  color: white;
  width: 100%;
  height: 100%;

  .stimuli-tiles--reading-strategies & {
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.st-selected {
    background: lighten($matrix-tile, 20%);
    -webkit-transition: all 0.2s ease-in-out;
    position: relative;

    &:before {
      content: "";
      border: 2px solid white;
      width: 95%;
      height: 95%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }

  &.st-mastered {
    background: $green;
  }

  &.st-needs_work {
    background: $red;
  }

  &.st-learning {
    background: $yellow;
  }

  &.st-clear {
    background: transparent;
   }
}
