// RULE: DO NOT USE THESE VARIABLES. ONLY USE THE SEMANTIC ONES BELOW
$white: #fff;
$black: #232425; // $shark
$gray-dark: #3D3E40; // $tuna
$gray-med: lighten(#000, 50%); // $gray
$gray-light: #9ca1a5;
$gray-chateau: #A7A9AB;
$iron: #e6e7e8;

$orange: #e47d24; // $zest
$red: #e64c3b; // $cinnabar
$green: #4eb96e; // $ocean-green
$yellow: #efc319; // $buttercup
$blue-light: #44c5f2; // $picton-blue
$blue: darken($blue-light, 20%);
$purple: #955aa4; // $trendy-pink
$turquoise: #25b89a;


// RULE: USE THESE VARIABLES FOR COLOR STYLING
$words-color: $orange;
$phrases-color: $purple;
$tiles-color: $blue-light;
$primary: $orange;
$warning: $red;
$mastered: $green;
$go: $green;
$learning: $yellow;
$needs-work: $red;

$text-dark: $black;
$text-light: $white;
$text-medium: $gray-light;
$text-med-light: lighten($gray-light, 20%);
$text-med-dark: $gray-med;


$bg-drawer: $gray-dark;
$bg-dark: $black;


$menu-button: lighten($gray-light, 20%);

$matrix-tile: $black;
$matrix-tab: $black;
$matrix-border: $gray-dark;

$button-text-light: $white;
$button-text-dark: $gray-med;
