$font-primary: 'montserrat-regular', sans-serif;
$font-primary-light: 'montserrat-light', sans-serif;
$font-primary-semibold: 'montserrat-semibold', sans-serif;

$font-secondary: 'museo-sans-rounded', sans-serif;

$font-condensed: 'AvenirNextCondensed-DemiBold', sans-serif;

$font-serif: 'museo-slab', serif;
