
// SIZE
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute($args) {
  @include position("absolute", $args);
}

@mixin fixed($args) {
  @include position("fixed", $args);
}

@mixin relative($args) {
  @include position("relative", $args);
}

// for rollover and active states of icons: supply the name of the icon(s), the width, the non-hover fill color and hover fill color

@mixin icon-hover($name, $width, $fill, $fillHover) {
  [class*='icon-#{$name}'] {
    width: $width;
    height: auto;
    // fill: $fill;
  }
  // &:hover,
  &.st-active {
    .icon-#{$name} {
      display: none;
    }
    .icon-#{$name}-filled {
      display: inline-block;
      // fill: $fillHover;
    }
  }
}

