.u-text-center {
  text-align: center!important;
}

.u-300 {
  font-family: 'proxima-nova-light';
  font-style: normal;
  font-weight: normal;
}

.u-600 {
  font-family: 'proxima-nova-semibold';
  font-style: normal;
  font-weight: normal;
}

.u-400 {
  font-family: 'proxima-nova-regular';
  font-style: normal;
  font-weight: normal;
}