.story {
  position: relative;
}

.story__image {
  margin: 0;
  img {
    width: 1024px;
  }
}

.story__page {
  height: 678px;
  width: 100%;
}

.story__text {
  font-size: 48px;
  margin-bottom: 20px;
  padding-left: 15px;
  position: relative;

  &.story__text--teacher {
    font-size: 14px;
    margin-bottom: 0;
    display: none;
    position: absolute;
    left: 20px;
    bottom: 0; // magic number

    &.st-visible {
      display: block;
    }
  }
}

.story__flip {
  position: absolute;
  bottom: 40px; // magic number
  right: 10px;
  font-size: 22px;
}

.story__footer {
  height: 100px;
}

.st-flipped {
    -webkit-transform: scale(-1, -1);
    transform-style: preserve-3d;
    transition: all 0.20s linear;

  }

.st-unflipped {
    -webkit-transform: scale(1, 1);
    transform-style: preserve-3d;
    transition: all 0.20s linear;
}