// RELATED:
//   _components.stimulus.scss
//   _components.timer.scss

.stage {
  position: relative;
  padding: 15px;
  background-color: $white;
  overflow: hidden;

  &.stage--device-select {
  min-height: 100%;

    &__content {
      animation: slide 2s alternate;
    }
  }

  &.stage--edit {
    padding: 0;
    height: 100%;
  }

  &.stage--workspace {
    height: 430px;
    -webkit-transition: all 0.5s ease-in-out;
    &.stage--workspace--full {
      height: 768px;
      -webkit-transition: all 0.5s ease-in-out;
    }
  }

  &.stage--story {
      padding: 0;
    }
  }

.stage__menu {
  flex-direction: column;
  position: absolute;
}

.stage__menu--left {
  left: 0;
  bottom: 10px;
}

.stage__menu--right {
  right: 0;
  bottom: 10px;

  .stage--workspace--full & {
    bottom: 50px;
  }
}