.loading-login__logo {
  margin: 5% auto 0;
  width: 468px;
  height: auto;
}

.loading-login__header {
  margin: 0 auto;
  width: 468px;
  margin-top: 40px;

  progress {
    border: 0;
    height: 22px;
    width: 468px;
    border-radius: 9px;
    position: relative;

    &::-webkit-progress-bar {
      background-color: $white;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::-webkit-progress-value {
      background-color: $orange;
    }
  }


}

.loading-login__footer {
  color: $orange;
  text-align: center;
  margin-top: 40px;

  .loading-login__title {
    font-size: 24px;
  }

  .loading-login__forgot {
    margin: 30px auto;
    color: $orange;
    display: block;
  }
}

.login__header {
  margin-top: 15%;
}

.login__logo {
  width: 300px;
  height: 150px;
}

.login__field {
  width: 240px;
  margin-right: 10px;
  height: 22px;
  font-family: $font-primary;
  font-size: 18px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid $white;
  background: transparent;
  color: $orange;

  &:last-of-type {
    margin-right: 0;
  }

}

// login error css
.login__error {
  color: $warning;
  font-size: 18px;
  font-family: $font-primary-regular;
  text-align: center;
  display: none;
}

.login__field--email,
.login__field--password {
  &::placeholder {
    color: $primary;
    font-size: 14px;
    font-family: $font-primary-light;
  }
}

.button--login {
  @extend .button;
  color: inherit;
  font-size: inherit;
  padding: 0;
  text-transform: uppercase;
}

.teachermate-logo {
  width: 175px;
  height: 30px;
  margin: 30px auto;
  text-align: center;
}

.footer--login {
  background-image: url(../img/footer-rainbow.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 2048px;
  position: absolute;
  bottom: 0;
  left: 0px;
  animation: footer-slide 75s linear infinite forwards;
}

@keyframes footer-slide {
  from { transform: translateX(0px);}
  to { transform: translateX(-1024px);}
}
