// RELATED:
//   _components.magnet.scss

.stage--whiteboard {
  height: 625px;
  width: 845px;
  margin: 0 auto;
}

.footer--whiteboard {
  background: $gray-med;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer--whiteboard__form {
  width: 90%;
  margin: auto;
  height: 50px;
}

.footer--whiteboard__input {
  max-width: 225px;
  height: 25px;
}

.whiteboard__input {
  display: block;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  height: 25px;
}

.whiteboard__magnet {
  font-size: 60px;
  height: 90px;
  background: $blue;
  border: 1px solid darken($blue, 20%);
  padding: 0 20px;
  display: inline-block;
  color: $white;
  font-family: $font-serif;
  line-height: 90px;
  cursor: move;
}

.magnet__remove {
  border-color: transparent $black transparent transparent;
  border-style: solid;
  border-width: 0 20px 20px 0;
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  cursor: pointer;

  .icon-remove {
    width: 10px;
    position: absolute;
    right: -19px;
    top: 0;
  }
}
