.story {
  position: relative;
}

.story__image {
  margin: 0;
  img {
    width: 1024px;
  }
}

.story__page {
  height: 734px;
  width: 100%;
}

.story__text {
  font-size: 28px;
  margin-bottom: 20px;
  padding: 0 50px 10px 15px;
  position: relative;

  &.story__text--teacher {
    background: $white;
    bottom: 0;
    display: none;
    font-size: 14px;
    left: 0;
    margin-bottom: 0;
    min-height: 65px;
    position: absolute;
    width: 100%;

    &.st-visible {
      display: block;
    }
  }
}

.story__text__number {
  font-size: 14px;
  color: $text-medium;
  margin-right: 10px;
}

.story__flip {
  position: absolute;
  bottom: 40px; // magic number
  right: 0;
  font-size: 22px;

  .icon-text--vertical {
    width: auto;
  }
}

.story__footer {
  height: 100px;
}

.st-flipped {
    -webkit-transform: scale(-1, -1);
    transform-style: preserve-3d;
    transition: all 0.20s linear;

  }

.st-unflipped {
    -webkit-transform: scale(1, 1);
    transform-style: preserve-3d;
    transition: all 0.20s linear;
}