// RELATED:
//   _components.magnet.scss

.stage--whiteboard {
  min-height: 768px;
}

.footer--whiteboard {
  background: $gray-med;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer--whiteboard__form {
  width: 90%;
  margin: auto;
  height: 50px;
}

.footer--whiteboard__input {
  max-width: 225px;
  height: 25px;
}

.button--whiteboard {
  align-self: center;
  max-width: 80px;
  margin-bottom: 0;
}

