.login__container {
  background-image: url(../img/login-bg.svg);
  background-repeat: no-repeat;
  width: 447.5px;
  height: 580px;
  margin: 5% auto 0;
  position: relative;
  text-align: center;
}

.login__header {
  margin-top: 15%;
}

.login__logo {
  width: 300px;
  height: 150px;
}

.login__field {
  width: 240px;
  margin-bottom: 20px;
  height: 34px;
  padding-left: 10px;
  font-family: $font-primary;
  border: 1px solid lightgrey;
}

// login error css
.login__error {
  color: $warning;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: none;
}

.login__field--email,
.login__field--password {
  &::placeholder {
    color: $primary;
    font-size: 14px;
    font-weight: 100;
  }
}

.login__button {
  @extend .login__field;
  font-weight: 100;
  border: 0;
}

.teachermate-logo {
  width: 175px;
  height: 30px;
  margin: 30px auto;
  text-align: center;
}

.footer--login {
  background-image: url(../img/footer-rainbow.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 2048px;
  position: absolute;
  bottom: 0;
  left: 0px;
  animation: footer-slide 75s linear infinite forwards;
}

@keyframes footer-slide {
  from { transform: translateX(0px);}
  to { transform: translateX(-1024px);}
}
