.menu--tab {
  background-color: #3d3e40;
  border-right: 1px solid $matrix-tab;
  color: lighten(#000, 50%);
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  height: 40px;

  .menu--tabs--student-selector & {
    text-align: left;
    padding-left: 10px;
    position: relative;

    span.icon-edit {
      display: none;
      position: absolute;
      right: 10px;
      font-size: 21px;
    }

    &.st-active,
    &:hover {
      background-color: $orange;
      color: $white;

      span.icon-edit {
        display: inline-block;
      }
    }
  }

  &:last-child {
    border-right: 0;
  }

  .menu__label {
   background-color: #3d3e40 ;
   display: block;
   width: 100%;
   height: 100%;

   &.st-active,
   &:hover {
     background-color: $matrix-tab;
     color: $button-text-light;
   }
 }

  .menu--number {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    line-height: 40px;
    margin-right: 20px;
    font-weight: 400;
  }

  .menu__icon {
    font-size: 25px;
    margin-left: 30px;
    vertical-align: middle;
  }

  &.menu--tab--edit-student {
    background: $primary;
    color: $text-light;
    width: 200px;
    padding: 20px;
    border: 0;
  }
}