

// .event {
//   border-radius: 4px;
//   -webkit-border-radius: 4px;
//   color: #FFFFFF;
//   font-size: 12px;
//   margin: 0px 30px;
//   padding: 2px 0px;
//   &.listening {
//     background-color: #333333;
//     display: block;
//   }
//   &.received {
//     background-color: #4B946A;
//     display: none;
//   }
// }

// .blink {
//   animation: fade 3000ms infinite;
//   -webkit-animation: fade 3000ms infinite;
// }

// .loginContainer {
//     width: 400px;
//     margin: 0 auto;
// }

// .hidden {
//   visibility: hidden;
// }

// .login {
//   position: relative;
// }

.login__container {
  background-image: url(../img/login-bg.svg);
  background-repeat: no-repeat;
  width: 450px;
  height: 532px;
  margin: 0 auto;
}

.login__logo {
  width: 300px;
  height: 150px;
}

.login__field {
  width: 240px;
  margin-bottom: 20px;
  height: 34px;
  padding-left: 10px;
  font-family: $font-primary;
  border: 1px solid lightgrey;
}

.login__field--email,
.login__field--password {
  &::placeholder {
    color: $primary;
    font-size: 14px;
    font-weight: 100;
  }
}

.login__button {
  @extend .login__field;
  font-weight: 100;
  border: 0;
}

.teachermate-logo {
  width: 175px;
  height: auto;
  margin-top: 30px;
}

.footer--login {
  background-image: url(../img/footer-rainbow.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
