.matrix__stimuli {
  width: 100%;

  .st-active {
    display: flex;
  }
}

.stimuli-tiles {
  overflow: auto;
  width: 100%;
}

.stimuli-tiles--stories__title {
  color: $text-light;
  font-size: 42px;
  width: 80%;

  p {
    padding: 0 40px;
  }
}

.stimuli-tiles--stories__tiles {
  a {
    font-size: 13px;
  }

}