<button class="icon-text--vertical button--words {{selectedClass}}">
  <svg class="icon-words"><use xlink:href="/img/icons.svg#icon-words"></use></svg>
  <svg class="icon-words-filled st-hidden"><use xlink:href="/img/icons.svg#icon-words-filled"></use></svg>
  <span class="icon-text__title">Words</span>
</button>
