<button class="icon-text--vertical button--letters {{selectedClass}}">
  <svg class="icon-letters"><use xlink:href="#icon-letters"></use></svg>
  <svg class="icon-letters-filled st-hidden"><use xlink:href="#icon-letters-filled"></use></svg>
  <span class="icon-text__title">Letters</span>
</button>
