<button class="icon-text--vertical button--timer js-buttonTimer">
  <img class="icon-timer {{unfilledClass}}" src="/img/icons/icon-timer.png">
  <img class="icon-timer-filled {{filledClass}}" src="/img/icons/icon-timer-filled.png">
  <span class="icon-text__title">timer</span>
</button>
