<button class="icon-text--vertical button--whiteboard {{selectedClass}}">
  {{!-- <svg class="icon-whiteboard"><use xlink:href="img/icons.svg#icon-whiteboard"></use></svg> --}}
  <img src="img/icons/icon-whiteboard.png" alt="" class="icon-whiteboard">
  <img class="icon-whiteboard-filled st-hidden" src="img/icons/icon-whiteboard-filled.png">
  <span class="icon-text__title">Whiteboard</span>
</button>
