<button class="icon-text--vertical button--letters {{selectedClass}}">
  <img class="icon-letters" src="img/icons/icon-letters.png">
  <img class="icon-letters-filled st-hidden" src="img/icons/icon-letters-filled.png">
  <span class="icon-text__title">Letters</span>
</button>
