<button class="icon-text--vertical button--clear">
  <svg class="icon-clear {{ selectedClass }}"><use xlink:href="/img/icons.svg#icon-clear"></use></svg>
  <span class="icon-text__title">clear</span>
</button>
