<button class="icon-text--vertical {{selectedClass}} button--phrases">
  <img class="icon-phrases" src="/img/icons/icon-phrases.png">
  <img class="icon-phrases-filled st-hidden" src="/img/icons/icon-phrases-filled.png">
  <span class="icon-text__title">Phrases</span>
</button>
