<button class="icon-text--vertical button--tiles {{selectedClass}}">
  <img class="icon-tiles" src="/img/icons/icon-tiles.png">
  <img class="icon-tiles-filled st-hidden" src="/img/icons/icon-tiles-filled.png">
  <span class="icon-text__title">Tiles</span>
</button>
