<button class="icon-text--vertical {{selectedClass}} button--flip">
  <svg class="icon-flip"><use xlink:href="/img/icons.svg#icon-flip"></use></svg>
  <span class="icon-text__title">Flip</span>
</button>
