<button class="icon-text--vertical button--words {{selectedClass}}">
  <img class="icon-words" src="img/icons/icon-words.png">
  <img class="icon-words-filled st-hidden" src="img/icons/icon-words-filled.png">
  <span class="icon-text__title">Words</span>
</button>
