<button class="icon-text--vertical {{selectedClass}} button--flip">
  {{!-- <svg class="icon-flip"><use xlink:href="/img/icons.svg#icon-flip"></use></svg> --}}
  <img src="img/icons/icon-flip.png" alt="" class="icon-flip">
  <span class="icon-text__title">Flip</span>
</button>
