<button class="icon-text--vertical button--manage {{selectedClass}}">
  <svg class="icon-end-session"><use xlink:href="/img/icons.svg#icon-end-session"></use></svg>
  <span class="icon-text__title">End Session</span>
</button>

