<button class="icon-text--vertical button--manage {{selectedClass}}">
  <img class="icon-end-session" src="img/icons/icon-end-session.png">
  <span class="icon-text__title">End Session</span>
</button>

