<div class="container container--overlay ">
<div class="container--management">
    <div class="overlay__menu">
{{!-- THE TABS FOR THE ADD STUDENT LIST --}}

      <a href="#" class="menu--tab menu--tab--edit-student grid grid--center js-cancelAddStudent" style="left: {{ math 170.5 "*" tab_position}}px">
        <span class="menu__title">cancel</span>
        <span class="menu__icon icon icon-close"></span>
      </a>
    </div>

      <div class="table__wrapper__header table__wrapper__header--student">
        <table class="management__table management__table__header">
          <colspan>
           <col class="table-column table-column-1">
           <col class="table-column table-column-4">
           <col class="table-column">
           <col class="table-column">
           <col class="table-column">
           <col width="10">
           <col class="table-column">
           <col class="table-column">
           <col class="table-column">
           <col class="table-column">
           <col class="table-column table-column-4">
          </colspan>

          <thead>
           <td colspan="2" class="session-cell--name">students</td>
           <td >reading stage</td>
           <td>growth</td>
           <td>practice station score</td>
           <td width="10" class="session-cell--spacer"></td>
           <td>days on current reading stage</td>
           <td>days since last session</td>
           <td>days since last fluency assignment</td>
           <td>desired sessions per week</td>
           <td colspan="2" class="session-cell--manage js-cancelAddStudent">cancel</td>
          </thead>
        </table>
      </div>

      <div class="table__wrapper table__wrapper--student">
      <table class="management__table" cellspacing="0">
        <colspan>
         <col class="table-column table-column-1">
         <col class="table-column table-column-4">
         <col class="table-column">
         <col class="table-column">
         <col class="table-column">
         <col width="10">
         <col class="table-column">
         <col class="table-column">
         <col class="table-column">
         <col class="table-column">
         <col class="table-column table-column-4">
        </colspan>

        <tbody>
        </tbody>
      </table>
      </div>
  </div>


</div>

