{{!-- <tr class="session-row--dropdown js-groupDropdown "> --}}
  <td colspan="12">
    <table class="student-choice" cellspacing="0">
    <tr>
      {{#each students}}
        <td colspan="4">{{this.shortName}} • RS{{this.readingStage}}</td>
      {{/each}}
    </tr>
  </table>
  </td>
{{!-- </tr> --}}
