  <td>
  <svg class="icon-student"><use xlink:href="/img/icons.svg#icon-student"></use></svg>
  </td>
  <td class="session-cell--name">{{ shortName }}</td>
  <td>{{ reading_stage}}</td>
  <td class="session-cell--na">n/a</td>
  <td class="session-cell--na">n/a</td>
  <td class="session-cell--spacer"></td>
  <td>{{ daysOnCurrentReadingStage }}</td>
  <td>{{ daysSinceLastSession }}</td>
  <td>n/a</td>
  <td class="session-cell--desired js-editNumberPerWeek">
    <select type="number" id="numberPerWeekSelect">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </td>

  <td class="session-cell--start session-cell--start--student js-startSession" colspan="2">start session</td>
