<div class="container">
  <div class="table__wrapper--header">
    <table class="management__table management__table__header">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column table-column-4">
      </colspan>

      <thead>
        <th colspan="2" class="session-cell--name">sessions</th>
        <th >reading stage</th>
        <th>growth</th>
        <th>practice station score</th>
        <th width="10" class="session-cell--spacer"></th>
        <th>days on current reading stage</th>
        <th>days since last session</th>
        <th>days since last fluency assignment</th>
        <th>desired sessions per week</th>
        <th class="js-manageButton session-cell--manage" colspan="2">manage sessions</th>
      </thead>
    </table>
  </div>

  <div class="table__wrapper">
    <table class="management__table js-management-table" cellspacing="0">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">

        <col class="table-column table-column-4">
      </colspan>
      <tbody>

      </tbody>
    </table>
  </div>

  
</div>


