<div class="container">
  <header class="header--main-nav grid grid--center">
    <button class="button--drawer-toggle js-menuToggle">
      <svg class="icon-menu-toggle"><use xlink:href="/img/icons.svg#icon-menu-toggle"></use></svg>
    </button>
    <nav class="nav--main grid grid--center grid-cell u-text-center js-mainNav st-show">
      {{!-- <span class="nav--main__teacher grid-cell">dr. dones</span>
      <a href="#" class="nav--main__session-info grid-cell">session info</a> --}}
      <div class="nav--main__manage grid-cell">
        <a href="#" class="js-manageButton">manage sessions</a>
      </div>
      <div class="nav--main__logout grid-cell">
        <a href="#" class="js-logout">log out</a>
      </div>
    </nav>
    <span class="nav--main__logo grid-cell">teacher<span>notepad</span></span>
  </header>
  <div class="table__wrapper__header">
    <table class="management__table management__table__header">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column table-column-4">
      </colspan>

      <thead>
        <th colspan="2" class="session-cell--name">sessions</th>
        <th>reading stage</th>
        <th>growth</th>
        <th>practice station score</th>
        <th width="10" class="session-cell--spacer"></th>
        <th>days on current reading stage</th>
        <th>days since last session</th>
        <th>days since last fluency assessment</th>
        <th>desired sessions per week</th>
        <th class="js-manageButton session-cell--manage" colspan="2">manage sessions</th>
      </thead>
    </table>
  </div>

  <div class="table__wrapper">
    <table class="management__table js-management-table" cellspacing="0">
      <colspan>
        <col class="table-column table-column-1">
        <col class="table-column table-column-4">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col width="10">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column">
        <col class="table-column table-column-4">
      </colspan>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

{{!-- This is totally illegal but I really wanted to see it work --}}
  <script>
    $("td:contains('n/a')").addClass("session-cell--na");
  </script>

  {{!-- ------------ --}}


