  <td class="js-studentGroup session-cell--group">
  {{!-- <svg class="icon-student-group"><use xlink:href="/img/icons.svg#icon-student-group"></use></svg> --}}
  <img src="img/icons/icon-student-group.png" alt="" class="icon-student-group">
  </td>
  <td class="session-cell--name">{{ name }}</td>
  <td class="session-cell--na">n/a</td>
  <td class="session-cell--na">n/a</td>
  <td class="session-cell--na">n/a</td>
  <td width="10" class="session-cell--spacer"></td>
  <td class="session-cell--na">n/a</td>
  <td>{{ daysSinceLastSession }}</td>
  <td class="session-cell--na">n/a</td>

  <td class="session-cell--desired js-editNumberPerWeek">
    <select type="number" id="numberPerWeekSelect">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </td>

  <td class="session-cell--start js-startSession" colspan="2">start session</td>




