<div class="stage--edit__content grid">
  <div class="reading-stage-chooser grid grid--wrap grid--center">
    <a href="#" class="reading-stage__choice grid-cell">1</a>
    <a href="#" class="reading-stage__choice grid-cell">2</a>
    <a href="#" class="reading-stage__choice grid-cell">3</a>
    <a href="#" class="reading-stage__choice grid-cell">4</a>
    <a href="#" class="reading-stage__choice grid-cell">5</a>
    <a href="#" class="reading-stage__choice grid-cell">6</a>
    <a href="#" class="reading-stage__choice grid-cell">7</a>
    <a href="#" class="reading-stage__choice grid-cell">8</a>
    <a href="#" class="reading-stage__choice grid-cell">9</a>
  </div>
</div>
