<header class="edit-notes__header">
  <span class="edit-notes__time">{{ date }}</span>
</header>
<section class="edit-notes__body grid">
 <textarea>{{ content }}</textarea>
</section>
 <button class="button--edit-notes js-saveNote">save</button>
 <button class="button--edit-notes js-cancelEdit">cancel</button>
 <button class="button--edit-notes js-newNote">new note</button>

