<header class="edit-notes__header">
  <span class="edit-notes__time">{{ date }}</span>
</header>
<section class="edit-notes__body grid">
 <textarea>{{ content }}</textarea>
</section>
<section class="edit-notes__buttons grid">
  <button class="button--save-note grid-cell js-saveNote">save</button>
  <button class="button--cancel-note grid-cell js-cancelEdit">cancel</button>
  <button class="button--new-note grid-cell js-newNote">new note</button>
</section>
 

