{{!-- <div id="loginContainer" class="login container">
  <div class="login__container grid grid--center grid--column">
    <header class="login__header">
      <div class="login__logo">
      <img src="/img/logo-tn.svg" alt="">
    </header>
    <fieldset>
      <h2 class="login__error js-login-error">Incorrect username/password</h2>
      <input class="login__field login__field--email" type="email" name="email" id="email-field" placeholder="Email">
      <input class="login__field login__field--password" type="password" name="password" id="password-field" placeholder="Password">
      <input class="button button--primary login__button" type="button" value="Log In" id="submit">
    </fieldset>
    <input type="button" class="button" value="Forgot Password" id="reset">
  </div>
  <div class="teachermate-logo">
    <img src="/img/logo-teachermate.svg" alt="">
  </div>
  <footer class="footer--login">
  </footer>
</div> --}}

<div id="loginContainer" class="loading-login__container container">
  <div class="loading-login__logo">
    <img src="img/login-logo.png" alt="" width="468">
  </div>
  <div class="loading-login__header">
  <h2 class="login__error js-login-error">Incorrect username/password</h2>
    <div class="grid">

      <input class="login__field login__field--email grid-cell u-1of2" type="email" name="email" id="email-field" placeholder="Email">
      <input class="login__field login__field--password grid-cell u-1of2" type="password" name="password" id="password-field" placeholder="Password">


    </div>

  </div>
  <div class="loading-login__footer">
      <input class="loading-login__title button--login" type="button" value="Log In" id="submit">
      <input type="button" class="button loading-login__forgot" value="Forgot Password" id="reset">
    </div>

</div>



{{!-- auto form field for development --}}

<script>
    $("#email-field").val("randy-teacher@test.org");
    $("#password-field").val("12345678");
</script>
