<div class="js-magnet whiteboard__magnet" style="position:absolute; left: {{ left }}px; top: {{ top }}px;">
  {{ text }}
  <a class="js-magnetClose magnet__remove">
    <img class="icon-remove" src="img/icons/icon-remove.png">
  </a>
</div>
