{{!-- <span class="menu__number">{{ reading_stage }}</span> --}}
<span class="menu__title">{{ label }}</span>
<span class="menu__icon">
  <img class="icon-edit js-editStudentButton" src="img/icons/icon-edit.png">
</span>

