<div class="matrix">
  <nav class="matrix__menu">
    <div class="js-matrixMenu"></div>
  </nav>
 <div class="js-stimuliTiles"></div>
 <nav class="matrix__student-selector">
    <div class="js-matrixStudentSelector"></div>
  </nav>
</div>


