{{!-- <span class="menu__number">{{ reading_stage }}</span> --}}
<span class="menu__title">{{ label }}</span>
{{!-- <span class=""> --}}
  <svg class="icon-edit menu__icon js-editStudentButton"><use xlink:href="/img/icons.svg#icon-edit">
{{!-- </span> --}}

