<button class="button--drawer-toggle js-menuToggle">
  <img src="img/icons/icon-menu-toggle.png" alt="" class="icon-menu-toggle">
  </button>
<nav class="nav--main grid grid--center u-text-center js-mainNav">
  {{!-- <span class="nav--main__teacher grid-cell">ms. dones</span> --}}
  {{!-- <a href="#" class="nav--main__session-info grid-cell">session info</a> --}}
  <div class="nav--main__manage grid-cell">
    <a href="#" class="js-manageButton">manage students</a>
  </div>
  <div class="nav--main__logout grid-cell">
    <a href="#" class="js-logout">log out</a>
  </div>


  {{!-- <a href="#" class="nav--main__help grid-cell">help/faq</a> --}}
{{!--   <span class="nav--main__logo grid-cell">teachermate</span> --}}
</nav>
