<button class="button--drawer-toggle js-menuToggle"><i class="icon-menu-toggle"></i></button>
<nav class="nav--main grid grid--center u-text-center js-mainNav">
  <span class="nav--main__teacher grid-cell">ms. dones</span>
  <a href="#" class="nav--main__session-info grid-cell">session info</a>
  <a href="#" class="nav--main__manage grid-cell">manage sessions</a>
  <a href="#" class="nav--main__logout grid-cell">log out</a>
  <a href="#" class="nav--main__help grid-cell">help/faq</a>
{{!--   <span class="nav--main__logo grid-cell">teachermate</span> --}}
</nav>