<div class="matrix matrix--reading-strategies js-matrixReadingStrategies {{stateClass}}">
  <section>
    <button class="button button--reading-strategies-toggle js-readingStrategiesToggle">{{stateText}} reading strategies</button>
    <div class="stimuli-tiles stimuli-tiles--reading-strategies">
      <div class="grid grid--wrap u-text-center js-stimuliTilesReadingStrategies">
      </div>
    </div>
  </section>
  <nav class="menu--assessment menu--assessment--story grid js-menuAssessment"></nav>
</div>