<div class="container container--overlay">
      <thead>
        <td colspan="2" class="session-cell--name">students</td>
        <td >reading stage</td>
        <td>growth</td>
        <td>practice station score</td>
        <td width="10" class="session-cell--spacer"></td>
        <td>days on current reading stage</td>
        <td>days since last session</td>
        <td>days since last fluency assignment</td>
        <td>desired sessions per week</td>
        <td colspan="3"></td>
      </thead>

      <tbody>
        <tr class="student-row">
          <td class="js-studentGroup"><svg class="icon-student"><use xlink:href="#icon-student"></use></svg></td>
          <td class="session-cell--name">Billy B.</td>
          <td>n/a</td>
          <td>n/a</td>
          <td>n/a</td>
          <td width="10" class="session-cell--spacer"></td>
          <td>3</td>
          <td>n/a</td>
          <td>4</td>
          <td class="session-cell--desired">5</td>
          <td class="session-cell--start session-cell--start--student" colspan="3">
            <svg class="icon-add"><use xlink:href="#icon-add"></use></svg>
            add student</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
