<div class="stimulus stimulus--phrases stimulus__gallery js-flickity-gallery animated slideInRight">
  {{#each phrases}}
    <div class="stimulus-cell grid grid--center">
      <span>{{ this }}</span>
    </div>
  {{/each}}
</div>

{{!-- <div class="stimulus stimulus--phrases stimulus__gallery animated slideInRight">
  <div class="stimulus-cell">
    <span class="js-fittext">{{ phrase }}</span>

  </div>
</div>
 --}}
