{{!--   <div class="js-buttonDrawerToggle"></div>
  <div class="js-stageDrawer"></div> --}}
  <div class="stage__stimulus grid-cell js-stageStimulus"></div>
  <div class="stage__menu stage__menu--left grid">
    <div class="js-stageButtonFlip"></div>
    <div class="js-stageButtonTimer"></div>
    <div class="js-timer"></div>
  </div>
  <nav class="menu--assessment menu--assessment--stage grid grid--bottom u-text-center js-menuAssessment">
  </nav>
  <div class="stage__menu stage__menu--right grid js-menuActivity"></div>
  <div class="button--matrix-toggle button--matrix-toggle--open js-buttonMatrixOpen"></div>
  <div class="js-stageButtonManage"></div>
  {{!-- THIS IS THE REAL WORKING BUTTON --}}
  <div class="js-stageButtonEndSession"></div>
