<figure class="story__image js-storyFlip">
  <img src="img/"+{{ image }}+".jpg" alt={{dentist}}>
  <figcaption class="story__text">{{ lines }}</figcaption>
</figure>
<div class="story__text story__text--teacher js-storyTextTeacher">
  {{ lines }}
</div>