<div class="workspace">
  <header class="header--main-nav grid js-navMain"></header>
  <div class="stage grid grid--center stage--workspace js-stage"></div>
  <div class="js-matrix"></div>
  <div class="js-overlay"></div>
</div>
