<div class="stage--whiteboard">
  <input type="text" name="magnetInput" class="whiteboard__input" placeholder="Type a word or word part and press enter" width="500px">
  <div class="js-whiteboard"></div>

</div>

